    <footer class="pt-3 mt-4 text-body-secondary">
    {% if "now" | date("m") == 12 %}
    <ul class="lightrope">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
    {% endif %}
      <p class="p-5">Renfrewshire Bin Collection Days App<br /><small style="font-size: .65em">Note: This app is not managed or endorsed by Renfrewshire Council. <br />To report a missing bin go to: <a href="https://www.renfrewshire.gov.uk/article/4143/Missed-bin-collection" target="_blank">Missed bin collection</a>.</small><br /><br /><br /><small style="font-size: .55em">v. MVC1.2.0524</small> | <a href="mailto:contact@bins.ren?subject=Bins.ren issue reporting&body=Issue found on bins.ren: " class="small">⚠️ Report the app issue</a><br />&copy;<a href="https://bins.ren" class="colour_one"><span class="colour_one fw-bold">Bins</span>.<span class="colour_two fw-bold">Ren</span></a> {{ 'now' | date('Y') }} | <a href="https://arturkraft.com" class="colour_one">Artur Kraft</a> </p>
      <div class="footer-right">
        <p class="fs-1">Change <span class="fw-bold">theme</span> <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" fill="currentColor"><path d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z"/></svg>
        </p>
      </div>
    </footer>

    
